{% extends "layout.html" %}
{% block content %}



    <main role="main" class="container">

      <div class="line-graph">
        <div class="row">

          <center>
            <canvas id="pie-chart" width="800" height="450"></canvas>
              <script type="text/javascript">
                pieData = {
                labels : [
                    {% for item in labels %}
                      "{{ item }}",
                    {% endfor %}
                  ],
                  data : [
                          {% for item in values %}
                            "{{ item }}",
                            {% endfor %} ]
                }

              new Chart(document.getElementById("pie-chart"), {
                type: 'pie',
                data: {
                  labels: pieData.labels,
                  datasets: [{
                    label: "Time spent (minutes)",
                    backgroundColor: ["#3e95cd", "#8e5ea2","#3cba9f","#e8c3b9","#c45850", "#ff0", "#f02e85"],
                    data: pieData.data
                  }]
                },
                options: {
                  cutoutPercentage: 40,
                  legend: {
                    labels:{
                      fontColor: "#ffffff",
                      fontSize: 12,

                    }
                  },
                  title: {
                    display: true,
                    text: 'Last weeks time breakdown (min)',
                    fontColor: "#ffffff"
                  }
                }
              });

            </script>
        </center>
        </div>
    </div>

    <div class="gap"></div>

  <div class="line-graph">
  <div class="row">
  <center>
  <canvas id="line-chart" width="800" height="450"></canvas>

    <script type="text/javascript">
    // creating an array with numbers 1-52 for weeks of the year
    let label_array = [];
    for (let i = 1; i < 53; i++){
      label_array.push(i);
    }

    let dataplot = [];
    for (let i = 1; i < 52; i++){
      let num = Math.floor(Math.random() * 100)
      dataplot.push(num);
    }

      new Chart(document.getElementById("line-chart"), {
        type: 'line',
        data: {
          labels: label_array,
          datasets: [{
              data:dataplot, //[282,350,411,502,635,809,947,1402,3700,5267],
              label: "Time spent (min)",
              borderColor: "#7d0aad",
              fill: false
            }
          ]
        },
        options: {
          legend: {
            display: false
          },
          title: {
            display: true,
            text: 'Monthly Time Raspberry Pi logging',
            fontColor: "#ffffff"
          },
          scales:{
            yAxes: [{
              scaleLabel: {
                display: true,
                labelString: "Minutes",
                fontColor: "#ffffff"
              },
              ticks: {
                beginAtZero: true,
                fontColor: "#ffffff"
              }
            }],
          xAxes: [{
            scaleLabel: {
              display: true,
              labelString: "Months of the year",
              fontColor: "#ffffff"
            },
            ticks: {
              fontColor: "#ffffff"
            }
          }]
          }
        }
      });

    </script>
    </center>
    </div>
      </div>




      </main>

{% endblock %}
